@font-face {
    font-family: 'ProximaNova';
    font-weight: 300;
    src: url(./FontsFree-Net-FontsFree-Net-Proxima-Nova-2.ttf);
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 400;
    src: url(./Proxima\ Nova\ Font.otf);
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;
    src: url(./Proxima\ Nova\ Bold.otf);

}
@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;
    src: url(./Proxima\ Nova\ Sbold.otf);

}

   